#div1 { background-color: red; }
        #div2 { background-color: orange; }
        #div3 { background-color: yellow; }
        #div4 { background-color: green; }
        #div5 { background-color: blue; }
        #div6 { background-color: indigo; }
        #div7 { background-color: violet; }
        #div8 { background-color: pink; }
        #div9 { background-color: brown; }
        #div10 { background-color: grey; }